@import url('https://fonts.googleapis.com/css?family=McLaren&display=swap');
* {
    box-sizing: border-box;
    font-family: 'McLaren', cursive, sans-serif;
}
body {
    background-color: black;
}
.drumkit {
    margin-top: 120px;
}
.keys {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.key {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 130px;
    text-align: center;
    justify-content: center;
    background: rgba(100, 0, 200, 0.8);
    color: yellow;
    font-size: 2.4em;
    border: solid 1px blue;
    margin: 10px;
    padding: 20px;
    transition: all 0.07s;
}
.sound {
    text-align: center;
    color: red;
    font-size: 0.4em;
    letter-spacing: 1px;
}
.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}
