* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: black;
}

.keys {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.key {
    display: flex;
    flex-direction: column;
    width: 100px;
    text-align: center;
    background: rgba(100, 0, 200, 0.4);
    color: yellow;
    font-size: 1.7em;
    border: solid 1px blue;
    margin: 10px;
    padding: 20px;
    transition: all 0.07s;
}
.sound {
    text-align: center;
    color: red;
    font-size: 0.7em;
}
.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}
